{% extends 'core/base.html' %} {% block title %} Contact {% endblock %} 
{% block content %} {% load static %}

<section class="page-section about-heading">
  <div class="container">
    <img
      class="img-fluid rounded about-heading-img mb-3 mb-lg-0"
      src="{% static 'core/img/contact.jpg' %}"
      alt=""
    />
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Envíanos tus dudas</span>
              <span class="section-heading-lower">Contacto</span>
            </h2>
            {% if 'ok' in request.GET %}
            <p><b> Mensaje enviado correctamente </b></p>
            {% endif %}

            <div class="form-group">
              <select
                id="select1"
                class="form-select"
                aria-label="Default select example"
              >
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>

            <form action="" method="POST">
              {% csrf_token %}

              <div class="form-group">
                <label>Nombre *</label>
                <div class="input-group">{{form.name}}</div>
                {{form.name.errors}}
              </div>
              <div class="form-group">
                <label>Email *</label>
                <div class="input-group">{{form.email}}</div>

                {{form.email.errors}}
              </div>
              <div class="form-group">
                <label>Mensaje *</label>
                <div class="input-group">{{form.content}}</div>
                {{form.content.errors}}
              </div>
              <div class="text-center">
                <input
                  type="submit"
                  class="btn btn-primary btn-block py-2"
                  value="Enviar"
                />
              </div>
            </form>
            <!-- Fin formulario de contacto -->

            <div class="form-group">
              <select id="select2" class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %} 
{% block contentJS %}
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
  <script>
    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $('#select1').on('change', function() {      
      var valor =  this.value
      var str_json = '{ "valor": "' + valor + '" }'
      var obj_json = jQuery.parseJSON(str_json);

      $.ajax({      
        url: "{% url 'ejecutaAJAX' %}",
        type:"POST",
        dataType: 'json',
        data: obj_json,  
        beforeSend: function(xhr, settings){    
          console.log('Entro a la funcion de beforeSend');
          // Ponemos el token CSRF en la cabecera.
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", Cookies.get('csrftoken'));
          }
            }
          }
          ).done(function(respuesta, textStatus, jqXHR)
            { 
              if (respuesta['estado'] == 'correcto'){
                var opciones = respuesta['opciones']
                $.each(opciones, function(k, v) {
                $('#select2').append($('<option>', { 
                    value: k,
                    text : v 
                }));
            });
          }
          else {
            $('#select2').append($('<option>', { 
                    value: '0',
                    text : 'Incorrecto' 
                }));
          }
            } //done
          ).fail(function(){    
              console.log('Error de conexion...');
            }
          ).always(function(){
              console.log('Entro a al metodo always'); 
      });

    });
  </script>
{% endblock %}
